.wrapper{
    width: 100vh;
    font-size: 4rem;
    overflow: hidden;
    position: absolute;
    left: 460px;
}

.wrapper span {
    display: inline-flex;
    text-shadow: 0 0 0 #f5f5f5;
    font-family: 'Play', sans-serif;
}

.img{
    width: 120px;
}